/* TODO: Link these manually & dont rely on font servers. */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
@import url('https://use.typekit.net/ttg4ufb.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Apocalypse Grunge';
	src: url('./Apocalypse Grunge.ttf');
}
@font-face {
	font-family: 'TheNextFont';
	src: url('./TheNextFont.ttf');
}
@font-face {
	font-family: 'Amatic SC';
	src: url('./AmaticSC-Regular.ttf');
}
@font-face {
	font-family: 'Dancing Script';
	src: url('./DancingScript-VariableFont_wght.ttf');
}
@font-face {
	font-family: 'Lobster';
	src: url('./Lobster-Regular.ttf');
}
@font-face {
	font-family: 'Luckiest Guy';
	src: url('./LuckiestGuy-Regular.ttf');
}
@font-face {
	font-family: 'Roboto Mono';
	src: url('./RobotoMono-VariableFont_wght.ttf');
}
@font-face {
	font-family: 'Montserrat';
	src: url('./Montserrat-VariableFont_wght.ttf');
}
@font-face {
	font-family: 'Comfortaa';
	src: url('./Comfortaa-Regular.ttf');
}

input {
	font-family: 'Comfortaa' !important;
}

select {
	font-family: 'Comfortaa' !important;
}

@keyframes blink-text {
	0% {
		color: transparent;
	}
	50% {
		color: transparent;
	}
	50.1% {
		color: white;
	}
	100% {
		color: white;
	}
}

.title {
	font-weight: 500;
}

div[hidden] {
	@apply hidden;
}

footer[hidden='true'] {
	@apply hidden;
}

button[hidden='true'] {
	@apply hidden;
}

.alert[hidden='false'] {
	@apply animate-pulse;
}

div[data-theme='cyberpunk'] .title {
	--tw-gradient-from: black !important;
	--tw-gradient-to: black !important;
}

div[data-theme='light'] .title {
	--tw-gradient-from: black !important;
	--tw-gradient-to: black !important;
}

div[data-theme='emerald'] .title {
	--tw-gradient-from: black !important;
	--tw-gradient-to: black !important;
}

div[data-theme='lemonade'] .title {
	--tw-gradient-from: black !important;
	--tw-gradient-to: black !important;
}

div[data-theme='corporate'] .title {
	--tw-gradient-from: black !important;
	--tw-gradient-to: black !important;
}

div[data-theme='valentine'] .title {
	color: #1d1d1d;
	--tw-gradient-from: black !important;
	--tw-gradient-to: black !important;
}

div[data-theme='forest'] .title {
	color: --tw-text-primary;
	--tw-gradient-from: black !important;
	--tw-gradient-to: black !important;
}

div[data-theme='forest'] .title {
	--tw-gradient-from: black !important;
	--tw-gradient-to: black !important;
}

input[disabled]:hover {
	@apply input-warning text-gray-500 border-gray-500;
}

input[data-loading='true'] {
	@apply text-gray-500;
}

button[data-loading='true'] {
	@apply loading bg-gray-500;
}

button[data-selected='true'] {
	@apply bg-success;
}
.blink-text {
	animation: 1s blink-text step-end infinite;
}
