node_modules
.env
coverage
coverage.json
/typechain
/typechain-types
.direnv/
/prisma/migrations/
magicmirror
logfile

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Hardhat files
cache/
artifacts/

# Deployments
/deployments/hardhat/
/deployments/ganache/
/public/deployments/ganache/
/public/projects/deployed/*_ganache.json
/public/projects/compiled/
/projects/compiled/
/projects/deployed/ganache/
/projects/deployed/hardhat/

# Temp folder
/temp

# InfinityMint files
alpha/
beta/
.session
.uuid
/gems/__*
/gems/@*
/alpha/__gems/
/beta/__gems/
/*/__gems/


.DS_Store
dist/

# Docs
_www/
docs/

# Build folders
nix/result
/build
package-lock.json
yarn.lock
package-lock.json
yarn.lock
package-lock.json
package-lock.json
package-lock.json
projects/bundles/magicmirror@1.0.0.bundle
projects/bundles/magicmirror@1.0.0.bundle
projects/bundles/magicmirror@1.0.0.bundle
public/imports/magicmirror@1.0.0_ganache.json
public/imports/magicmirror@1.0.0_ganache.ts
src/legalegalllll.html
dump.rdb
infinitymint.config.ts
projects/bundles/0x🟨road.eth@1.0.0.bundle
projects/bundles/CHRONICLES 🎫 @1.0.0.bundle
projects/bundles/magicmirror@1.0.0.bundle
public/imports/magicmirror@1.0.0_hardhat.json
public/imports/magicmirror@1.0.0_hardhat.ts
src/infinitymint.client.config.ts
projects/bundles/magicmirror@1.0.0.bundle
src/infinitymint.client.config.ts
