node_modules
.env
coverage
coverage.json
/typechain
/typechain-types
.direnv/
/prisma/migrations/
magicmirror
logfile

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Hardhat files
cache/
artifacts/

# Deployments
/deployments/hardhat/
/deployments/ganache/
/public/deployments/ganache/
/public/projects/deployed/*_ganache.json
/public/projects/compiled/
/projects/compiled/
/projects/deployed/ganache/
/projects/deployed/hardhat/

# Temp folder
/temp

# InfinityMint files
alpha/
beta/
.session
.uuid
/gems/__*
/gems/@*
/alpha/__gems/
/beta/__gems/
/*/__gems/


.DS_Store
dist/

# Docs
_www/
docs/

# Build folders
nix/result
/build
package-lock.json
yarn.lock
package-lock.json
yarn.lock
package-lock.json
