/* TODO: Link these manually & dont rely on font servers. */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap");
@import url("https://use.typekit.net/ttg4ufb.css");

@font-face {
  font-family: "Apocalypse Grunge";
  src: url("./resources/Apocalypse Grunge.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink-text {
  0% {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  50.1% {
    color: black;
  }
  100% {
    color: black;
  }
}

div[hidden] {
  @apply hidden;
}

.alert[aria-hidden="true"] {
  @apply hidden;
}

.alert[aria-hidden="false"] {
  @apply animate-pulse;
}

input[disabled]:hover {
  @apply input-warning text-gray-500 border-gray-500;
}

input[data-loading="true"] {
  @apply text-gray-500;
}

button[data-loading="true"] {
  @apply loading bg-gray-500;
}
.blink-text {
  animation: 1s blink-text step-end infinite;
}
