/* TODO: Link these manually & dont rely on font servers. */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap");
@import url("https://use.typekit.net/ttg4ufb.css");

@font-face {
  font-family: "Apocalypse Grunge";
  src: url("./resources/Apocalypse Grunge.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink-text {
  0% {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  50.1% {
    color: black;
  }
  100% {
    color: black;
  }
}

div[hidden] {
  @apply hidden;
}

.alert[hidden="false"] {
  @apply animate-pulse;
}

div[data-theme="luxury"] {
  @apply text-gray-200;
}

input[data-theme="luxury"] {
  @apply text-gray-200;
}

div[data-theme="luxury"] p {
  @apply text-black;
}

div[data-theme="aqua"] p {
  @apply text-black;
}

div[data-theme="forest"] p {
  @apply text-black;
}

div[data-theme="dracula"] p {
  @apply text-black;
}

div[data-theme="black"] p {
  @apply text-black;
}

div[data-theme="halloween"] p {
  @apply text-black;
}

div[data-theme="coffee"] p {
  @apply text-black;
}

div[data-theme="cyberpunk"] .title {
  --tw-gradient-from: black !important;
  --tw-gradient-to: black !important;
}

div[data-theme="light"] .title {
  --tw-gradient-from: black !important;
  --tw-gradient-to: black !important;
}

div[data-theme="emerald"] .title {
  --tw-gradient-from: black !important;
  --tw-gradient-to: black !important;
}

div[data-theme="lemonade"] .title {
  --tw-gradient-from: black !important;
  --tw-gradient-to: black !important;
}

div[data-theme="corporate"] .title {
  --tw-gradient-from: black !important;
  --tw-gradient-to: black !important;
}

table[data-theme="luxury"] {
  @apply text-gray-200;
}

select[data-theme="luxury"] {
  @apply text-gray-200;
}

input[disabled]:hover {
  @apply input-warning text-gray-500 border-gray-500;
}

input[data-loading="true"] {
  @apply text-gray-500;
}

button[data-loading="true"] {
  @apply loading bg-gray-500;
}

button[data-selected="true"] {
  @apply bg-success;
}
.blink-text {
  animation: 1s blink-text step-end infinite;
}
